.navbar-container {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    background-color:#c7c0ca;
    z-index: 999;
    height: 30px;
    justify-content: flex-end;;
    padding: 10px;
    align-items: center;
  }

  .nav-righ{
    display: flex;
    align-items: center;
  }

  .nav-right a {
    margin-left: 10px;
    color:#510C72;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 25px;
  }


  
  