.navbar-container {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    background-color:#c7c0ca;
    z-index: 999;
    height: 30px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }

   .nav-bar {
    color: #510C72;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-right a {
    margin-left: 10px;
    color:#510C72;
    text-decoration: none;
  }
  
  