*{
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}

/* @font-face {
    font-family: "CustomFont";
    src: url("../fonts/RolexLight.woff2");
} */

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: #510C72;
    width: 30em;
    height: 35em;
    padding-bottom: 10px;
    position: relative;
    border-radius: 1em;
    border-color: #B3B1B4;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-headers {
    text-align: center;
  }
  
  .login-headers img {
    max-width: 30%;
    height: auto;
  }
  

.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*.google {background-image: url("../icons/.google.png");}
.facebook {background-image: url("../icons/.google.png");"}*/

.input-containers {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px 0;
  }
  
  label {
    flex: 1; /* Label takes up available space to the left of the input */
    padding: 0 10px; /* Adjust as needed */
  }
  
  input {
    flex: 3; /* Input takes up more space to the right */
    border: none;
    background-color: rgb(229, 226, 226);
    height: 3.1em;
    border-radius: 0.95em;
    text-align: center;
    padding: 0.5em; /* Adjust as needed */
  }
  
input:focus {
    outline-color: rgb(32, 177, 255);
}

.buttons-container {
  display: flex;
  justify-content: space-between; /* This will move the buttons to the left and right sides */
  width: 80%; /* Ensures buttons occupy the full width of the container */
}

.login-btn {
  width: 40%;
  height: 2.3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 1.5em;
  cursor: pointer;
}



.login-btn:hover { transform: scale(1.25);}

.text {
    position: relative;
    bottom: -2em;
    
}

.hide { 
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}
